/* ---------------------------- Universal Styles ---------------------------- */

* {
	color-scheme: light dark;
	font-family: system-ui;
	font-size: 12px;
}

body {
	width: 225px;
	padding: 10px 15px;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	row-gap: 15px;
}

h1 {
	font-size: 18px;
	margin: 0px 0px;
}

p {
	opacity: 0.5;
	margin: 0px 0px;
}

label {
	opacity: 0.8;
}

kbd {
	background-color: #eee;
	border-radius: 3px;
	border: 1px solid #b4b4b4;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	color: #333;
	display: inline-block;
	font-size: 0.85em;
	font-weight: 700;
	line-height: 1;
	padding: 2px 4px;
	white-space: nowrap;
}

@media (prefers-color-scheme: dark) {
	/* Dark Mode styles go here. */
}

/* ------------------------------ Input Styles ------------------------------ */

button {
	font-size: 13px;
	font-weight: 500;
	color: transparent;
	text-shadow: 0 0 0 white;
	padding: 10px;
	border-radius: 6px;
	border: 1px solid rgba(42, 108, 169, 0.675);
	background: linear-gradient(rgb(23, 144, 230), rgb(25, 122, 226));
	box-shadow: 0px 0px 3px rgba(10, 65, 107, 0.421);
	transition: 0.2s;
}

button:hover {
	opacity: 0.95;
}

select {
	padding: 10px;
}

/* ---------------------------- Main Page Styles ---------------------------- */

.setting-label-input-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
